div.keyboard {
	display: flex;
	flex-direction: column;
	gap: 0.375em;
	width: 100%;
	background-color: #364954;
	padding-block: 0.5rem;
}

div.keyboard > div.keyboard-row {
	display: flex;
	justify-content: center;
	gap: 0.375em;
}

div.keyboard > div.keyboard-row > button.keyboard-key {
	min-width: 2rem;
	min-height: 2.75rem;
	border: transparent;
	border-radius: 4px;
	background-color: #536672;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

div.keyboard > div.keyboard-row > button.keyboard-key:hover {
	background-color: #aaa;
}
