div.keyboard {
	display: flex;
	flex-direction: column;
	gap: 0.375em;
	width: 100%;
}

div.keyboard > div.keyboard-row {
	display: flex;
	justify-content: center;
	gap: 0.375em;
}

div.keyboard > div.keyboard-row > button.keyboard-key {
	min-width: 2.5rem;
	min-height: 3.5rem;
	border: transparent;
	border-radius: 4px;
	background-color: #888;
	font-size: 1.25rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

div.keyboard > div.keyboard-row > button.keyboard-key:hover {
	background-color: #aaa;
}
