body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

div.page-section {
    background-color: antiquewhite;
    border: solid black 1px;
    padding: 1em;
}

div#inputSection > #constraintArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#inputSection > div#constraintArea > div.constraint {
    border: 1px black solid;
}

div#errorAlertArea > p {
    color: red;
}

div#displayArea {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column-reverse;
}

div#displayArea > div.word {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0.6em;
}

div#displayArea > div.word > div.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    margin: 0.1em;
    background-color: darkslategray;
    border: solid darkslategray 1px;
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#displayArea > div.word > div.trigramLetter {
    background-color: darkgoldenrod;
}

div.keyboard {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

div.keyboard > div.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

div.keyboard > div.keyboard-row > div.keyboard-key {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

div.keyboard > div.keyboard-row > div.keyboard-key:hover {
    background-color: lightgray;
}

.input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
