html,
body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

/* Blocks of page:
1) Header
2) Game Area (comprised of Constraint Area then Display Area)
3) Input Area 
*/

div#pageContainer {
	display: grid;
	grid-template-rows: 1.75em 3.5em 1.75em 1fr min-content;
	height: 100vh;
	min-width: 16.5em;
	max-width: 30em;
	margin: auto;
}

div#header {
	background-color: brown;
	display: flex;
}

div#header > p {
	margin: auto;
}

div#constraintArea {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: lightblue;
}

div#constraintArea > div.constraint {
	border: 1px black solid;
}

div#errorAlertArea > p {
	color: red;
}

div#displayArea {
	display: flex;
	flex-flow: column nowrap;
	flex-direction: column-reverse;
	background-color: midnightblue;
	overflow-y: scroll;
}

div#displayArea > div.word {
	display: flex;
	flex-flow: row nowrap;
	margin-inline: auto;
	margin-bottom: 0.6em;
}

div#displayArea > div.word > div.letter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5em;
	height: 1.5em;
	margin: 0.1em;
	background-color: darkslategray;
	border: solid darkslategray 1px;
	color: white;
	text-transform: uppercase;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div#displayArea > div.word > div.trigramLetter {
	background-color: darkgoldenrod;
}

div#inputArea {
	margin-inline: auto;
	display: flex;
	flex-flow: column nowrap;
	gap: 1em;
}

div#inputArea > div#textField {
	margin: auto;
}
