:root {
	/* ~~~~~~~~~~~~~~~~~~~~~~~ */
	/*         Colors          */
	/* ~~~~~~~~~~~~~~~~~~~~~~~ */
	--c1-hue: 13;
	--c1-sat: 40%;
	--c1-light: 85%;
	--c1-med: 72%;
	--c1-dark: 35%;
	--c1-darker: 20%;
	--c1-light-hsl: hsl(var(--c1-hue), var(--c1-sat), var(--c1-light));
	--c1-med-hsl: hsl(var(--c1-hue), var(--c1-sat), var(--c1-med));
	--c1-dark-hsl: hsl(var(--c1-hue), var(--c1-sat), var(--c1-dark));
	--c1-darker-hsl: hsl(var(--c1-hue), var(--c1-sat), var(--c1-darker));

	--c2-hue: 3;
	--c2-sat: 40%;
	--c2-light: 85%;
	--c2-med: 72%;
	--c2-dark: 35%;
	--c2-darker: 20%;
	--c2-light-hsl: hsl(var(--c2-hue), var(--c2-sat), var(--c2-light));
	--c2-med-hsl: hsl(var(--c2-hue), var(--c2-sat), var(--c2-med));
	--c2-dark-hsl: hsl(var(--c2-hue), var(--c2-sat), var(--c2-dark));
	--c2-darker-hsl: hsl(var(--c2-hue), var(--c2-sat), var(--c2-darker));

	--c3-hue: 42;
	--c3-sat: 40%;
	--c3-light: 85%;
	--c3-med: 72%;
	--c3-dark: 35%;
	--c3-darker: 20%;
	--c3-light-hsl: hsl(var(--c3-hue), var(--c3-sat), var(--c3-light));
	--c3-med-hsl: hsl(var(--c3-hue), var(--c3-sat), var(--c3-med));
	--c3-dark-hsl: hsl(var(--c3-hue), var(--c3-sat), var(--c3-dark));
	--c3-darker-hsl: hsl(var(--c3-hue), var(--c3-sat), var(--c3-darker));

	--c4-hue: 28;
	--c4-sat: 40%;
	--c4-light: 85%;
	--c4-med: 72%;
	--c4-dark: 35%;
	--c4-darker: 20%;
	--c4-light-hsl: hsl(var(--c4-hue), var(--c4-sat), var(--c4-light));
	--c4-med-hsl: hsl(var(--c4-hue), var(--c4-sat), var(--c4-med));
	--c4-dark-hsl: hsl(var(--c4-hue), var(--c4-sat), var(--c4-dark));
	--c4-darker-hsl: hsl(var(--c4-hue), var(--c4-sat), var(--c4-darker));

	/* ~~~~~~~~~~~~~~~~~~~~~~~ */
	/*         Heights         */
	/* ~~~~~~~~~~~~~~~~~~~~~~~ */
	--frame-height: 100vh;
	--frame-height: 100dvh;
	--header-height: 115px;
	--keyboard-height: 200px;
	--round-height: calc(
		var(--frame-height) - var(--header-height) - var(--keyboard-height)
	);
	--target-height: calc(var(--round-height) / 3);
	--input-height: calc(2 * var(--target-height) / 3);

	/* ~~~~~~~~~~~~~~~~~~~~~~~ */
	/*   Widths & Font Sizes   */
	/* ~~~~~~~~~~~~~~~~~~~~~~~ */
	--frame-width: 100vw;
	--frame-padding-inline: 6vw;
	--keyboard-padding-inline: 2vw;

	--length-fs: 6vw;
	--length-width: 12vw;
	--padding-length-word: 4vw;

	--word-border-width: 2px;
	--word-px: 2vw;
	--word-width-max: calc(
		var(--frame-width) - 2 * var(--frame-padding-inline) -
			var(--length-width) - var(--padding-length-word) - 2 *
			var(--word-border-width) - 2 * var(--word-px)
	);
}

@media (min-width: 520px) {
	:root {
		/* ~~~~~~~~~~~~~~~~~~~~~~~ */
		/*         Heights         */
		/* ~~~~~~~~~~~~~~~~~~~~~~~ */
		--frame-height: 100%;
		--round-height: calc(3 * (var(--target-height)));
		--target-height: clamp(
			calc(8rem),
			calc((100vh - var(--header-height) - var(--keyboard-height)) / 3),
			calc(16rem)
		);
		--input-height: 5.5rem;

		/* ~~~~~~~~~~~~~~~~~~~~~~~ */
		/*   Widths & Font Sizes   */
		/* ~~~~~~~~~~~~~~~~~~~~~~~ */
		--frame-width: calc(30rem + 2 * var(--frame-padding-inline));
		--frame-padding-inline: 1.25rem;
		--keyboard-padding-inline: var(--frame-padding-inline);

		--length-fs: 2rem;
		--length-width: 3.25rem;
		--padding-length-word: 1.5rem;

		--word-border-width: 2px;
		--word-px: 0.5rem;
		--word-width-max: calc(
			var(--frame-width) - 2 * var(--frame-padding-inline) -
				var(--length-width) - var(--padding-length-word) - 2 *
				var(--word-border-width) - 2 * var(--word-px)
		);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	/* scrollbar-gutter: stable; */
}

#app {
	display: flex;
	flex-flow: column;
	align-items: center;

	transition: all 1s ease-out;
}

#frame {
	width: calc(var(--frame-width));
	height: var(--frame-height);

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                        HEADER                            */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header {
	width: 100%;
	height: var(--header-height);
	padding-inline: var(--frame-padding-inline);
	padding-block: 1rem;
	border-bottom: 3px double;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	font-size: 2rem;
}

.header-element {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	font-weight: bold;
}

.header-title {
	padding-bottom: 3px;

	font-size: 1rem;
	font-weight: bold;
}

.header-button {
	width: 3.25rem;
	aspect-ratio: 1/1;
	border: 2px solid;
	border-bottom: 4px solid;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.75rem;
	color: inherit;
	background-color: transparent;

	cursor: pointer;
}

.header .trigram {
	height: 3.25rem;
	padding: 1.75rem 1rem;
	border: 3px solid;
	border-radius: 8px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                   ROUND VARIATIONS                       */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.round-1 {
	--num-letters-max: 6;
	--letter-mx: 2vw;
	--letter-width: var(--word-width-max) / var(--num-letters-max);
	--letter-fs: min(2.75rem, calc(var(--letter-width) - 2 * var(--letter-mx)));
	@media (min-width: 520px) {
		--letter-mx: 0.5rem;
	}

	background-color: var(--c1-med-hsl);
	color: var(--c1-dark-hsl);
	.round {
		border-color: var(--c1-dark-hsl);
	}
	.letter {
		font-size: var(--letter-fs);
		margin-inline: var(--letter-mx);
	}
	.active .length,
	.active .word {
		background-color: var(--c1-light-hsl);
	}
	.locked .word,
	.empty.letter {
		border-color: var(--c1-dark-hsl);
		color: transparent;
	}
	button:hover {
		background-color: var(--c1-light-hsl);
		color: var(--c1-dark-hsl);
	}
	button:active {
		background-color: var(--c1-dark-hsl);
		color: var(--c1-light-hsl);
		border-color: var(--c1-dark-hsl);
	}
	.keyboard-key {
		background-color: var(--c1-dark-hsl);
		color: var(--c1-light-hsl);
		border-color: var(--c1-dark-hsl);
	}
	.modal-screen {
		background-color: hsla(
			var(--c1-hue),
			var(--c1-sat),
			var(--c1-dark),
			0.7
		);
	}
	.modal-content {
		background-color: var(--c1-light-hsl);
		color: var(--c1-darker-hsl);
		border-color: var(--c1-darker-hsl);
	}
}

.round-2 {
	--num-letters-max: 9;
	--letter-mx: 1vw;
	--letter-width: var(--word-width-max) / var(--num-letters-max);
	--letter-fs: calc(var(--letter-width) - 2 * var(--letter-mx));
	@media (min-width: 520px) {
		--letter-mx: 0.5rem;
	}

	background-color: var(--c2-med-hsl);
	color: var(--c2-dark-hsl);
	border-color: var(--c2-dark-hsl);
	.round {
		transform: translateY(calc(-1 * var(--round-height)));
	}
	.letter {
		font-size: var(--letter-fs);
		margin-inline: var(--letter-mx);
	}
	.active .length,
	.active .word {
		background-color: var(--c2-light-hsl);
	}
	.locked .word,
	.empty.letter {
		color: transparent;
		border-color: var(--c2-dark-hsl);
	}
	button:hover {
		background-color: var(--c2-light-hsl);
		color: var(--c2-dark-hsl);
	}
	button:active {
		background-color: var(--c2-dark-hsl);
		color: var(--c2-light-hsl);
		border-color: var(--c2-dark-hsl);
	}
	.keyboard-key {
		background-color: var(--c2-dark-hsl);
		color: var(--c2-light-hsl);
		border-color: var(--c2-dark-hsl);
	}
	.modal-screen {
		background-color: hsla(
			var(--c2-hue),
			var(--c2-sat),
			var(--c2-dark),
			0.7
		);
	}
	.modal-content {
		background-color: var(--c2-light-hsl);
		color: var(--c2-darker-hsl);
		border-color: var(--c2-darker-hsl);
	}
}

.round-3 {
	--num-letters-max: 12;
	--letter-mx: 0.5vw;
	--letter-width: var(--word-width-max) / var(--num-letters-max);
	--letter-fs: calc(var(--letter-width) - 2 * var(--letter-mx));
	@media (min-width: 520px) {
		--letter-mx: 0.25rem;
	}

	background-color: var(--c3-med-hsl);
	color: var(--c3-dark-hsl);
	border-color: var(--c3-dark-hsl);
	.round {
		transform: translateY(calc(-2 * var(--round-height)));
	}
	.letter {
		font-size: var(--letter-fs);
		margin-inline: var(--letter-mx);
	}
	.active .length,
	.active .word {
		background-color: var(--c3-light-hsl);
	}
	.locked .word,
	.empty.letter {
		color: transparent;
		border-color: var(--c3-dark-hsl);
	}
	button:hover {
		background-color: var(--c3-light-hsl);
		color: var(--c3-dark-hsl);
	}
	button:active {
		background-color: var(--c3-dark-hsl);
		color: var(--c3-light-hsl);
		border-color: var(--c3-dark-hsl);
	}
	.keyboard-key {
		background-color: var(--c3-dark-hsl);
		color: var(--c3-light-hsl);
		border-color: var(--c3-dark-hsl);
	}
	.modal-screen {
		background-color: hsla(
			var(--c3-hue),
			var(--c3-sat),
			var(--c3-dark),
			0.7
		);
	}
	.modal-content {
		background-color: var(--c3-light-hsl);
		color: var(--c3-darker-hsl);
		border-color: var(--c3-darker-hsl);
	}
}

.round-4 {
	--num-letters-max: 15;
	--letter-mx: 0.5vw;
	--letter-width: var(--word-width-max) / var(--num-letters-max);
	--letter-fs: calc(var(--letter-width) - 2 * var(--letter-mx));
	@media (min-width: 520px) {
		--letter-mx: 0.25rem;
	}

	background-color: var(--c4-med-hsl);
	color: var(--c4-dark-hsl);
	border-color: var(--c4-dark-hsl);
	.round {
		transform: translateY(calc(-3 * var(--round-height)));
	}
	.letter {
		font-size: var(--letter-fs);
		margin-inline: var(--letter-mx);
	}
	.active .length,
	.active .word {
		background-color: var(--c4-light-hsl);
	}
	.locked .word,
	.empty.letter {
		color: transparent;
		border-color: var(--c4-dark-hsl);
	}
	button:hover {
		background-color: var(--c4-light-hsl);
		color: var(--c4-dark-hsl);
	}
	button:active {
		background-color: var(--c4-dark-hsl);
		color: var(--c4-light-hsl);
		border-color: var(--c4-dark-hsl);
	}
	.keyboard-key {
		background-color: var(--c4-dark-hsl);
		color: var(--c4-light-hsl);
		border-color: var(--c4-dark-hsl);
	}
	.modal-screen {
		background-color: hsla(
			var(--c4-hue),
			var(--c4-sat),
			var(--c4-dark),
			0.7
		);
	}
	.modal-content {
		background-color: var(--c4-light-hsl);
		color: var(--c4-darker-hsl);
		border-color: var(--c4-darker-hsl);
	}
}

.round-1.round-transition *,
.round-2.round-transition *,
.round-3.round-transition *,
.round-4.round-transition * {
	transition: all 1s ease-out;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                         GAME                             */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#game {
	width: 100%;
	height: var(--round-height);
	padding-inline: var(--frame-padding-inline);
	margin-block: var(--game-margin-y);

	display: flex;
	flex-flow: column nowrap;

	overflow: hidden;
}

.round {
	display: flex;
	flex-flow: column nowrap;

	/* transition: all 1s ease-out; */
}

.target {
	width: fit-content;
	height: var(--target-height);

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--padding-length-word);
}

.length {
	width: fit-content;
	min-width: var(--length-width);
	height: 3.5rem;
	padding: var(--tl-padding-block) 0.75rem;
	border: 2px solid;
	border-radius: 8px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: var(--length-fs);
}

.word {
	padding-inline: var(--word-px);
	height: var(--input-height);

	border: var(--word-border-width) solid;
	border-radius: 8px;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	/* transition: gap 1s ease-out, padding 1s ease-out, width 1px ease-out; */
}

.letter {
	width: calc(
		(var(--word-width-max) / var(--num-letters-max)) - 2 * var(--letter-mx)
	);
	border-bottom: 2px solid;
	text-align: center;
	/* transition: font-size 1s ease-out, margin 1s ease-out, width 1s ease-out; */
}

.complete {
	.letter {
		border: none;
	}
}

.active {
	.length,
	.word {
		border-width: 3px;
		box-shadow: 0px 0px 18px white;
		font-weight: bold;
	}
	.letter {
		border-width: 3px;
	}
}

.locked {
	.letter {
		border: none;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                       KEYBOARD                           */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#keyboard {
	width: min(100%, 100vw);
	height: var(--keyboard-height);
	padding-inline: var(--keyboard-padding-inline);
	padding-block: 1rem;
	border-top: 3px double;

	display: flex;
	flex-direction: column;
	gap: 8px;

	touch-action: manipulation;
	/* ^ Disables double-tap-to-zoom on mobile */

	--num-keys: 10;
	--num-keyGaps: 9;
	--key-width: 9%;
	--key-gap: calc(
		(100% - (var(--num-keys) * var(--key-width))) / (var(--num-keyGaps))
	);
}

.keyboard-row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: var(--key-gap);
}

.keyboard-key {
	width: var(--key-width);
	height: 3.25rem;

	border: 2px solid;
	/* border-bottom: 4px solid; */
	border-radius: 6px;

	font-size: 1.375rem;

	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* .keyboard-key:not(:hover) {
	transition: none;
} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                        MODALS                            */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.125rem;
	margin-block: 1.25rem 0.75rem;
	border-bottom: 2px solid var(--c1-dark-hsl);
}

.modal-screen {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	cursor: pointer;
}

.modal-content {
	width: min(500px, 96vw);
	height: fit-content;
	border: 3px solid;
	margin: 4rem auto;
	padding: 1.5rem;
	cursor: default;
}

.closeRow {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: end;
}

.closeButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* .closeButton:hover {
	color: hsl(13, 40%, 72%);
} */

.fa-xmark {
	font-size: 1.25rem;
	color: hsl(13, 40%, 20%);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                     STATS SCREEN                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#wordListValue {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}

.stat-wordList-target {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	align-items: center;
}

.stat-wordList-length {
	width: 3ch;
	text-align: right;
}

.stat-wordList-word {
	letter-spacing: 0.25rem;
}

.stat-wordList-trigram {
	border: 1px solid;
	border-radius: 4px;
	padding-left: 0.25rem;
	margin-right: 0.125rem;
	background-color: white;
	letter-spacing: 0.25rem;
	/* font-weight: bold; */
}

#statListValue {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.stat-statList-item {
	width: 7ch;
	/* border: 1px solid; */
	display: flex;
	flex-flow: column nowrap;
	/* align-items: ; */
	/* justify-content: center; */
	text-align: center;
}

.stat-statList-itemValue {
	font-size: 2rem;
}

#statDistributionValue {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.25rem;
}

.stat-statDistribution-item {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	align-items: center;
}

.stat-statDistribution-itemLength {
	width: 3ch;
	text-align: right;
}

.stat-statDistribution-itemCount {
	letter-spacing: 0.25rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                      HELP SCREEN                         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.help-trigram {
	padding-inline: 0.5ch;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	text-transform: capitalize;
	font-weight: bold;
}

.help-trigram-subtle {
	font-weight: bold;
	text-decoration: underline;
}

ul {
	margin-block: 0.75rem 1.5rem;
}

li {
	margin-left: 2ch;
	margin-bottom: 0.625rem;
	/* font-size: 1.125rem; */
}
