*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 20px;

	font-family: Arial, Helvetica, sans-serif;
}

#game {
	width: 500px;
	height: 500px;
	margin: 40px;
	/* background-color: hsl(180, 50%, 80%); */
	background-color: hsl(180, 15%, 90%);
	display: flex;
	flex-direction: column;
}

#scoreboard {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#level {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transition: transform 0.5s, opacity 0.5s;
}

#level.fade-out-left {
	transform: translateX(-60px);
	opacity: 0;
}

#level.teleport {
	transform: translateX(60px);
	opacity: 0;
	transition: transform 0.1s, opacity 0.1s;
}

/* #level.fade-in-right {
	transform: translateY(20px);
	opacity: 1;
} */

#alerts {
	/* margin-top: 200px; */
}

.scoreboard-widget {
	width: 120px;
	/* border: 1px solid black; */
	border-radius: 6px;
	padding: 6px;

	text-align: center;
	line-height: 1.75;
}

.scoreboard-widget > .widget-title {
	font-size: 1rem;
	text-transform: capitalize;
	text-decoration: underline;
}

.scoreboard-widget > .widget-value {
	font-size: 1.625rem;
	font-weight: bold;
}

.scoreboard-widget #trigram {
	width: min-content;
	margin: auto;
	padding-inline: 1ch;
	background-color: white;
	border: 2px solid black;
	border-radius: 6px;
}

#word {
	width: min-content;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 3px;

	font-size: 1.625rem;
	font-weight: bold;
}

.letter {
	width: 2rem;
	height: 2.5rem;
	border: 2px solid blueviolet;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* .letter:not(:last-child) {
	border-right: none;
} */

#targetLength {
	font-size: 1rem;
	padding: 0.5ch 1ch;
	margin: 0.5rem;
	background-color: blueviolet;
	color: white;
	border-radius: 8px;
}
