---
import BaseLayout from "../layouts/BaseLayout.astro";
import TitleScreen from "../components/screens/TitleScreen.astro";
import TrigramRevealScreen from "../components/screens/TrigramRevealScreen.astro";
import YouWinScreen from "../components/screens/YouWinScreen.astro";
import HelpDialog from "../components/dialogs/HelpDialog.astro";
import StatsDialog from "../components/dialogs/StatsDialog.astro";
import NoLandscapeScreen from "../components/screens/NoLandscapeScreen.astro";
import Header from "../components/Header.astro";
import GameBoard from "../components/GameBoard.astro";
import Keyboard from "../components/Keyboard.astro";
---

<BaseLayout>
	<div id="app">
		<TitleScreen />
		<TrigramRevealScreen />
		<YouWinScreen />
		<HelpDialog />
		<StatsDialog />
		<NoLandscapeScreen />
		<div id="frame">
			<Header />
			<GameBoard />
			<Keyboard />
		</div>
	</div>
</BaseLayout>
