<div class="header">
	<div class="header-element">
		<div class="header-title">Help</div>
		<button class="header-button" id="helpButton">
			<i class="fa-solid fa-question"></i>
		</button>
	</div>
	<div class="header-element">
		<div class="header-title" id="trigram-number"></div>
		<div id="trigram"></div>
	</div>
	<div class="header-element">
		<div class="header-title">Stats</div>
		<button class="header-button" id="statsButton">
			<i class="fa-solid fa-chart-simple"></i>
		</button>
	</div>
	<div id="messageContainer">
		<div id="message"></div>
	</div>
</div>
