---
import Dialog from "./Dialog.astro";
---

<Dialog id="helpDialog">
	<h1>How to play Trigram</h1>
	<ul>
		<li>
			A <em>Trigram</em> is a sequence of 3 letters, like <span class="help-trigram">CAT</span>
		</li>
		<li>Make words containing the Trigram of the week.</li>
		<li>
			First a 4-letter word, then a 5-letter word, then
			6... and so on. See how far you can go!
		</li>
	</ul>

	<h2>Example</h2>
	<p>
		Trigram of the day: <span class="help-trigram">CAT</span>
	</p>
	<ul>
		<li>
			4-letter word: <span class="help-trigram-subtle">CAT</span>S
		</li>
		<li>
			5-letter word: <span class="help-trigram-subtle">CAT</span>ER
		</li>
		<li>
			6-letter word: <span class="help-trigram-subtle">CAT</span>SUP
		</li>
		<li>
			7-letter word: S<span class="help-trigram-subtle"
				>CAT</span
			>TER
		</li>
		<li>
			8-letter word: DELI<span class="help-trigram-subtle"
				>CAT</span
			>E
		</li>
		<li>
			9-letter word: DELI<span class="help-trigram-subtle"
				>CAT</span
			>ES
		</li>
		<!-- <li>
			10-letter word: DELI<span
				class="help-trigram-subtle"
				>CAT</span
			>ELY
		</li> -->
		<li>Can you continue the streak??</li>
	</ul>
	<h2>Notes</h2>
	<ul>
		<li>
			Plurals and other suffixes (like <em>-ed</em> and <em>-ing</em>) are perfectly valid!
		</li>
		<li>
			Words must contain the Trigram (like "CAT") as is,
			with no letters in between.
		</li>
	</ul>
	<h2>Contact</h2>
	To report any issues, make business inquiries, or share a
	funny <span class="help-trigram">CAT</span> video, contact
	me at <b>playtrigram@gmail.com</b>.
</Dialog>

<style>
	h1 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 1.125rem;
		margin-block: 1.25rem 0.75rem;
		border-bottom: 2px solid var(--color-dark);
	}

	.help-trigram {
		padding-inline: 0.5ch;
		background-color: white;
		border: 1px solid black;
		border-radius: 4px;
		text-transform: capitalize;
		font-weight: bold;
	}

	.help-trigram-subtle {
		font-weight: bold;
		text-decoration: underline;
	}

	ul {
		margin-block: 0.75rem 1.5rem;
	}

	li {
		margin-left: 2ch;
		margin-bottom: 0.625rem;
	}
</style>
