<div class="modal-screen screen" id="noLandscapeScreen">
	<div id="noLandscapeMessage">
		<img
			src="/app/assets/images/rotateScreen-darkMode.png"
			alt="Please rotate screen"
		/>
		<p>Oh no! We can't fit everything on your screen.</p>
		<p>Please rotate your device.</p>
	</div>
</div>
