<div id="titleScreen" class="screen">
	<div id="titleScreenTitle">
		<h1>trigram</h1>
		<h2>a weekly word game</h2>
	</div>
	<div id="titleScreenButtons">
		<button id="playButton">Play</button>
		<button id="howToButton">How to play</button>
	</div>
	<div id="titleScreenDetails">
		<p id="date"></p>
		<p id="gameNumber"></p>
		<p id="editor">
			<a href="https://nikhilnathwani.com" target="_blank"
				>nikhilnathwani.com</a
			>
		</p>
		<!-- <p id="links">
			<a href="mailto:playtrigram@gmail.com"
				><i class="fa-solid fa-envelope"></i
			></a>
			<a
				href="https://www.instagram.com/playtrigram/"
				target="_blank"
				><i class="fa-brands fa-square-instagram"></i
			></a>
		</p> -->
	</div>
</div>
