<div class="overlay screen" id="trigramRevealScreen">
	<div class="overlayContent" id="trigramRevealScreenContent">
		<h3>This week's trigram is...</h3>
		<div id="trigramReveal"></div>
		<h4 id="trigramRevealSubtitle"></h4>
	</div>
</div>
