<div class="overlay screen" id="youWinScreen">
	<div class="overlayContent" id="youWinScreenContent">
		<h3>YOU WIN!</h3>
		<div id="youWinScreenButtons">
			<button id="bonusRoundButton">
				<i class="fa-solid fa-unlock"></i> Bonus round
			</button>
			<button id="viewStatsButton">View stats</button>
		</div>
	</div>
</div>
