/* ---------------------------------------------------------------- */
/* --------------------   GLOBAL STYLING   ------------------------ */
/* ---------------------------------------------------------------- */

:root {
	--game-max-width: 500px;

	/* Font sizes */
	--letterSize: 1.75rem;
	--letterGap: 0.5rem;

	/* Colors */
	--color-1: #fff;
	--color-2: #bbb;
	--color-3: #777;
	--color-4: #444;
	--color-5: #111;

	/* Font colors */
	--primary-color-dark: --color-4;
	--primary-color-light: --color-1;
	--accent-color: --color-3; /*#398c7f; */
	--error-color: --color-3;

	/* Background colors */
	--background-color: --color-5;

	/* Borders */
	--trigram-container-border: 2px solid #364954;
	--trigram-container-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	--alert-container-border: 2px solid #364954;
	--alert-container-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	background-color: var(--color-4);
	color: var(--color-1);
}

/* ---------------------------------------------------------------- */
/* ----------------------   PAGE LAYOUT   ------------------------- */
/* ---------------------------------------------------------------- */

div#pageContainer {
	width: min(100vw, var(--game-max-width));
	display: grid;
	grid-template-rows: 4rem 1fr 4rem min-content;
	justify-content: center;
	height: 100dvh;
	margin: auto;
}

/* 1. Header container */
div#pageContainer > #headerContainer {
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-5);
}

/* 2. Game container */
div#pageContainer > div#gameContainer {
	width: inherit;
	padding: 0 20px;
	overflow-y: auto;
	/*  */
	background-color: var(--color-1);
	/*  */
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

/* 3. Alert container */
div#alertContainer {
	width: inherit;
	background-color: var(--color-1);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 4. Keyboard container */
div#pageContainer > div#keyboardContainer {
	width: inherit;
	background-color: var(--color-4);
	padding: 6px;
	margin: auto;
	touch-action: none;
}

/* ---------------------------------------------------------------- */
/* -----------------------   1. HEADER   -------------------------- */
/* ---------------------------------------------------------------- */

div#header {
	background-color: var(--color-5);
	font-size: 2rem;
}

/* ---------------------------------------------------------------- */
/* ----------------------   2. GAME AREA   ------------------------ */
/* ---------------------------------------------------------------- */

/*     -------------  TODAY'S TRIGRAM CONTAINER  ---------------    */

div#gameScoreArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	/* background-color: orange; */
}

.score-widget {
	width: 8rem;
	background-color: white;
	border: 1px solid var(--color-5);
	color: var(--color-5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
}

.score-widget-header {
	font-size: 1.25rem;
	text-decoration-line: underline;
	text-decoration-color: var(--color-3);
}

.score-widget-value {
	font-size: 1.5rem;
}

#todaysTrigramValue {
	font-size: 1.75rem;
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 0.5rem;
	padding-left: 0.125rem;
}

#score {
	font-size: 1.5rem;
	font-weight: bold;
}

/*     -----------------  GAME DISPLAY AREA  -------------------    */

input {
	text-transform: uppercase;
}

div#gameDisplayArea {
	width: 100%;
	/*  */
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.level {
	display: flex;
	flex-flow: row nowrap;
}

.targetLength {
	width: 50px;
	height: 100%;
	background-color: var(--color-1);
	color: var(--color-5);
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid var(--color-5);
}

#checkMark {
	font-size: 75%;
	padding-right: 0.5rem;
}

.inputWrapper {
	width: 375px;
	position: relative;
	height: 4rem;
	padding: 0 1rem;
	background-color: var(--color-1);
	border: 1px solid black;
	display: flex;
	align-items: center;
	font-family: monospace;
	font-size: var(--letterSize);
	letter-spacing: var(--letterGap);
	color: var(--color-5);
}

.inputField {
	font-family: monospace;
	font-size: var(--letterSize);
	letter-spacing: var(--letterGap);
	color: var(--color-5);

	padding: 0;
	border: none;
	outline: none;

	background-image: repeating-linear-gradient(
		to right,
		var(--color-5),
		var(--color-5) 1ch,
		var(--color-1) 1ch,
		var(--color-1) calc(1ch + var(--letterGap))
	);
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: no-repeat;
}

span.trigramSubstring {
	color: var(--color-3);
	font-weight: 600;
}

.active {
	background-color: aquamarine;
}

.inactive {
	background-color: grey;
}

/* ---------------------------------------------------------------- */
/* ----------------------   3. ALERT AREA   ----------------------- */
/* ---------------------------------------------------------------- */

div#alertPopup {
	width: min(50ch, 75%);
	height: 2.5rem;
	margin-top: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(
		to bottom,
		transparent,
		var(--primary-color-light)
	); */
	background-color: var(--color-1);
	border: 2px solid var(--color-5);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	animation-name: wiggle;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--color-3);
}

/* ---------------------------------------------------------------- */
/* ----------------------   4. KEYBOARD   ------------------------- */
/* ---------------------------------------------------------------- */

div.keyboard {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.375em;
	/* background-color: var(--background-color); */
}

div.keyboard > div.keyboard-row {
	width: inherit;
	display: flex;
	justify-content: center;
	gap: 6px;
}

div.keyboard > div.keyboard-row > button.keyboard-key {
	width: calc((100% - (2 * 6px) - (9 * 6px)) / 10);
	height: 55px;
	border: transparent;
	border-radius: 4px;
	background-color: var(--color-3);
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-1);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.keyboard > div.keyboard-row > button.keyboard-key:hover {
	background-color: --color-2;
	color: var(--color-5);
}

/* ---------------------------------------------------------------- */
/* -----------------------   ANIMATIONS   ------------------------- */
/* ---------------------------------------------------------------- */

@keyframes wiggle {
	0% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}
